@keyframes slideInFromRight {
  0% {
    transform: translateX(128px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutFromRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(129px);
  }
}

:global(.cart.show) {
  transform: translateX(0);
}

:global(.cart.hide) {
  transform: translateX(129px);
}

:global(.cart.slide-in) {
  animation: 0.5s ease-out 0s 1 slideInFromRight forwards;
}

:global(.cart.slide-out) {
  animation: 0.5s ease-out 0s 1 slideOutFromRight forwards;
}

.container {
  width: 8rem;
  background-color: white;
  position: fixed;
  top: 0;
  border-top: 1px solid var(--text-primary);
  border-left: 1px solid var(--text-primary);
  right: 0;
  height: 100vh;
  max-height: 100vh;
  z-index: 1000;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.closeButton {
  position: absolute;
  display: block;
  width: 0px;
  left: 5px;
  top: 44px;
  border: 15px solid transparent;
  border-left: 0;
  border-right: 15px solid var(--text-primary);
  transform: translate(calc(-100% - 5px), -50%);
  color: white;
  cursor: pointer;

  &.hidden {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body {
  flex: 1;
  padding: 12px;
  padding-top: 0;
  overflow: auto;
  height: calc(100vh - 111.5px);

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
    border-radius: 0.75rem;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-primary);
  }
}

.itemContainer {
  margin-bottom: 1rem;
}

.containerRow {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.containerFlex {
  flex-direction: column;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.subtotalNumber {
  font-size: 13px;
  font-weight: 500;
  color: var(--bg-primary);
  display: inline-block;
}

.subtotal {
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}

