@keyframes slideInFromRight {
  0% {
    transform: translateX(128px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideOutFromRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(128px);
  }
}
.cart {
  animation: 0.5s ease-out 0s 1 slideInFromRight;
}

.cart.slide-out {
  animation: 0.5s ease-out 0s 1 slideOutFromRight;
}
