.containerFlex {
  height: 100%;
  display: flex;
  align-items: center;
}

.containerRow {
  composes: containerFlex;
  justify-content: space-between;
  width: 100%;
}

.hiddenBage span[class*="MuiBadge-badge"] {
  background-color: transparent;
}