.containerRow {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.containerFlex {
  flex-direction: column;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input {
  display: block;
  font-size: 13px;
  border: none;
  outline: 1px solid var(--text-primary);
  border-radius: 0.75rem;
  display: inline-block;
  width: 36px;
  padding: 2px 6px;

  &:focus {
    outline: 1px solid var(--bg-primary);
  }
}

.select {
  font-size: 13px;
  outline: 1px solid var(--bg-primary);
  border-radius: 0.75rem;
  width: 48px;

  * {
    font-size: 13px;
  }
}