@import "normalize.css";

body {
  background-color: #f0f2f5;
}

:root {
  --text-primary: #344767;
  --bg-primary: #1a73e8;
  --bg-secondary: #49a3f1;
  --bg-white-transparent: rgba(255, 255, 255, 0.95);
  --bg-base: #f0f2f5;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

body {
  background-color: var(--bg-base) !important;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

select {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.shadow-linear {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.shadow-bold {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.shadow-short {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.shadow-clear {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.shadow-bottom {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 25px 20px -20px;
}

.shadow-max {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
  rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.hover-effect:hover {
  transform: translateY(-4px);
}

.bg-blue-linear {
  background: linear-gradient(195deg, var(--bg-secondary), var(--bg-primary));
}

.bg-red-linear {
  background: linear-gradient(195deg, rgb(236, 64, 122), rgb(216, 27, 96));
}

.disapear {
  visibility: hidden !important;
}

.css-71xg00-MuiCardContent-root:last-child {
  padding-bottom: 12px !important;
}

