.rootClass:global(.MuiPaper-root) {
  border-radius: 0;
  box-shadow: none;
  border: none;
  background-color: transparent;
}

.img img {
  width: 60px;
  height: 100%;
}

.img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tableHead {
}

.productName {
  max-width: 250px;
}

.rootClass div[class*="quantityField_containerRow"] {
  justify-content: center;
  gap: 5px;
}

.price, .subTotal {
  font-weight: 600;
}

.rootClass :global(.MuiTableRow-root) {
  background-color: #fff;
}

.subTotal span {
  color: var(--bg-primary);
  font-weight: 600;
}

.ratingButton {

  p {
    padding: 3px 6px;
    margin: 0;
    color: #d32f2f;
    cursor: pointer;

    &:hover {
      color: #d32f5f;
    }
  }
}

.rootClass :global(.MuiTableRow-head) th {
  padding: 8px;
  background-color: var(--bg-secondary);
  color: white;

  &:first-child {
    border-top-left-radius: 0.75rem;
  }

  &:last-child {
    border-top-right-radius: 0.75rem;
  }
}

.rootClass:global(.MuiPaper-root) *[class*="MuiTableCell-root"] {
  padding: 8px;
}

