.headerContainer {
  composes: container from '../Container/container.module.scss';
  border-radius: 0.75rem 0.75rem 0 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom: 2px solid var(--bg-primary);
}

.title {
  line-height: 1.5;
  margin: 0;
  margin-left: 8px;
}